In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Langkah 1: Tampilkan dataset titanic.csv
titanic_train = pd.read_csv("titanic.csv")
print("Dataset Titanic (train):")
print(titanic_train.head())

Dataset Titanic (train):
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:
# Langkah 2: Tampilkan dataset titanic_test.csv
titanic_test = pd.read_csv("titanic_test.csv")
print("\nDataset Titanic Test:")
print(titanic_test.head())

Dataset Titanic Test:
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [3]:
# Langkah 3: Ambil train dataset kolom Age, Fare dan hilangkan missing values
pos_missing_train = titanic_train[['Age', 'Fare']].isnull().any(axis=1)
train_data = titanic_train[['Age', 'Fare']].dropna()

In [4]:
# Langkah 4: Ambil test dataset kolom Age, Fare dan hilangkan missing values
pos_missing_test = titanic_test[['Age', 'Fare']].isnull().any(axis=1)
test_data = titanic_test[['Age', 'Fare']].dropna()

In [5]:
# Langkah 5: Ambil train dataset kolom kelas (Survived), yang bukan pos_missing_train
train_labels = titanic_train.loc[~pos_missing_train, 'Survived']

In [6]:
# Langkah 6: Ambil test_label: ambil test dataset titanic_test.csv, yang bukan pos_missing_test
test_labels = titanic_test.loc[~pos_missing_test, 'PassengerId']

In [7]:
# Langkah 7: Lakukan normalisasi pada train data dengan Min-Max 0-1
scaler = MinMaxScaler()
train_data_normalized = scaler.fit_transform(train_data)
min_max_values_train = {
    'Age': (scaler.data_min_[0], scaler.data_max_[0]),
    'Fare': (scaler.data_min_[1], scaler.data_max_[1])
}

In [8]:
# Langkah 8: Lakukan normalisasi pada test data dengan Min-Max 0-1
test_data_normalized = scaler.transform(test_data)

In [9]:
# Langkah 9: Klasifikasi test data terhadap train data dengan k-NN (k=1..10)
error_ratios = {}
for k in range(1, 11):
    knn_classifier = KNeighborsClassifier(n_neighbors=k)
    knn_classifier.fit(train_data_normalized, train_labels)
    predictions = knn_classifier.predict(test_data_normalized)
    accuracy = accuracy_score(test_labels, predictions)
    error_ratio = 1 - accuracy
    error_ratios[k] = error_ratio

In [10]:
# Langkah 10: Bandingkan hasil klasifikasi dengan test_label
print("\nError Ratios:")
for k, error_ratio in error_ratios.items():
    print(f"k = {k}: {error_ratio:.4f}")

Error Ratios:
k = 1: 1.0000
k = 2: 1.0000
k = 3: 1.0000
k = 4: 1.0000
k = 5: 1.0000
k = 6: 1.0000
k = 7: 1.0000
k = 8: 1.0000
k = 9: 1.0000
k = 10: 1.0000